html body{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: 'Noto Sans TC', sans-serif;
}

$secondaryColor: #307bf4;

/* form表單 */
.formTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.formSubTitle {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.formSubTitle:not(:first-child){
  margin-top: 2rem;
}

textarea:focus{
  border: 1px solid $secondaryColor !important;
  outline: none;
}

textarea{
  resize: none !important;
}

/* el-element */
.el-dropdown__list ul li:hover{
  background-color: transparent !important;
}

.el-dropdown__list ul li{
  background-color: transparent !important;
}

.el-drawer{
  width: 60% !important;
}

.el-card__body{
  padding: 5px !important;
}

.el-form{
  border: 1px lightgrey solid !important;
  border-radius: 5px !important;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.1), /* 左下角陰影 */
    5px 5px 5px rgba(0, 0, 0, 0.1) !important; /* 右下角陰影 */
}

.el-pagination {
  display: flex;
  justify-content: center;
  padding: 20px;
  .el-pagination {
    display: inline-block;
  }
}